@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 1rem;
  font-size: 1.7rem;
}

.input-container input {
  padding: 1px 5px;
  border: 1px solid #ccc;
  font-size: 0.7em;
}

.input-container input::placeholder {
  font-size: 0.6em;
}

.welcome {
  margin-bottom: 2rem;
}

.welcome h1 {
  margin: 0.8em 0;
}

.results-container {
  margin: 10px 6px;
  font-size: 0.6em;
  color: #555;
}

.search-results li:not(.empty-results) {
  cursor: pointer;
}

.search-results li.empty-results {
  cursor: default;
}

.search-results li:nth-child(2n) {
  background-color: oldlace;
}

.search-results li i {
  padding: 0 5px;
}

.search-results .song-name {
  font-style: italic;
}

.search-results .song-duration {
  font-size: 0.55em;
}

.song-details-container {
  margin: 20px 0;
  font-size: 0.65em;
  color: #555;
}

.song-details-container .song-card {
  border-collapse: separate;
  border: solid #444 1px;
  border-radius: 6px;
  padding: 2px 8px;
}

.song-details-container .song-card th,
.song-details-container .song-card td {
  padding: 2px 5px;
  text-align: left;
}

.capitalize {
  text-transform: capitalize;
}